<div class="root">
  <div class="row align-items-center">
    <div class="col-lg-10">
      <h5>
        <a class="link-success" [routerLink]="['/playlists/' + playlist.id]">{{
          playlist.name
        }}</a>
        <span
          placement="top"
          [ngbTooltip]="
            playlist.is_public ? 'Публичный плейлист' : 'Закрытый плейлист'
          "
          class="small"
        >
          <i
            class="bi ms-1"
            [class.bi-globe2]="playlist.is_public"
            [class.bi-shield-lock]="!playlist.is_public"
          ></i>
        </span>
      </h5>
      <p class="small">
        Автор: <strong>{{ playlist.author_name }}</strong>
      </p>
    </div>
    <!-- <div class="col-lg-2">
      <button
        type="button"
        class="btn btn-lg btn-link"
        [class.link-success]="isLiked"
        [class.link-dark]="!isLiked"
        placement="bottom"
        ngbTooltip="Нравится"
        (click)="like()"
      >
        <i class="bi bi-emoji-heart-eyes"></i>
      </button>
      <button
        type="button"
        class="btn btn-lg btn-link"
        [class.link-danger]="isDisliked"
        [class.link-dark]="!isDisliked"
        placement="bottom"
        ngbTooltip="Не нравится"
        (click)="dislike()"
      >
        <i class="bi bi-emoji-frown"></i>
      </button>
    </div> -->
  </div>
  <hr />
</div>
