.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.toasts {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000000;
}
