<div class="modal-header">
  <h4 class="modal-title">Авторизация</h4>
  <button type="button" class="btn btn-lg close" (click)="close()">
    <i class="bi bi-x-circle"></i>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="E-mail"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
      />
      <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Пароль"
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
      />
      <label for="floatingPassword">Пароль</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <app-button type="button" [loading]="loading" (click)="onSubmit()">
    Войти
  </app-button>
</div>
