<div class="root">
  <app-layout>
    <app-spinner *ngIf="loading; else loaded" position="absolute"></app-spinner>
    <ng-template #loaded>
      <ng-container *ngIf="artists.length; else artistsNotFound">
        <h4>Артисты по запросу «{{ query }}»</h4>
        <div class="row mt-5 row-cols-md-4">
          <div *ngFor="let artist of artists" class="col mb-3">
            <app-artist-card [artist]="artist"></app-artist-card>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </app-layout>
</div>

<ng-template #artistsNotFound>
  <h4 class="text-center">По запросу «{{ query }}»</h4>
  <h2 class="text-center">Артисты не найдены</h2>
</ng-template>
