@import "bootstrap-icons/font/bootstrap-icons";

body.modal-open {
  overflow: hidden;
}

a,
.btn-link {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.close:focus {
  outline: none;
  box-shadow: none;
}
