.image {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
  width: 100%;

  &.-empty {
    background-color: #eee;
  }

  img {
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 60px;
}
